.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin:0 auto;
  height: 100vh;
  background: rgb(228,133,134);
  background: linear-gradient(360deg, rgba(228,133,134,1) 30%, rgba(252,186,173,0.9612219887955182) 95%);
}